@{
    ViewData["Title"] = "聯繫我們";
}

<div class="hero" style="background-image: url('/images/contact-bg.jpg');">
    <div class="hero-content">
        <h1>聯繫我們</h1>
        <p>隨時為您提供幫助</p>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="contact-section">
            <h2 class="section-title">聯絡我們</h2>
            <p class="text-left mb-5">
                如果您有任何需求或需要預訂服務，請隨時聯絡我們。我們期待為您提供最優質的交通服務，讓您的每一次出行都成為美好的回憶。我們期待為您提供一流的交通服務，無論您需要何種交通需求，我們都能滿足您的期望。立即聯絡我們，體驗頂級的豪華出行服務。
            </p>
            <div class="row">
                <div class="col-md-6">
                    <h2>LINE官方帳號</h2>
                    <p>掃描以下QR碼或點擊連結加入我們的LINE官方帳號：</p>
                    <img src="/images/qr-code.png" alt="LINE QR Code" class="img-fluid" />
                    <p><a href="https://lin.ee/Tiqg3fX" target="_blank" class="btn btn-primary mt-3">加入LINE官方帳號</a></p>
                </div>
                <div class="col-md-6 contact-info">
                    <h2>聯繫方式</h2>
                    <p><i class="fas fa-phone fa-fw"></i> 市話：<a href="tel:0423366577">04 2336 6577</a></p>
                    <p><i class="fas fa-mobile-alt fa-fw"></i> 手機：<a href="tel:0919667119">0919 667 119</a></p>
                    <p><i class="fas fa-map-marker-alt fa-fw"></i> 地址：<a href="https://g.co/kgs/7yXnVSi" target="_blank">台中市烏日區中華路185巷1號</a></p>
                </div>
            </div>
        </div>
    </div>
</section>